
.box{
    text-align: center;
    margin:50px;
}
.time{
    font-size: 100px;
    text-align: center;
}
.container{
    background-color: white;
    box-shadow: 1px 2px 2px  lightgrey;
    width: 400px;
    margin-top:250px;

}
body{
    background-color: whitesmoke;

}
button{
    margin:10px auto;
    padding: 10px;
    width: 100px;
}
.start-btn{
    background-color:lightgreen;
}
.stop-btn{
    background-color:lightcoral; 
}


