/* #product-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap; 
    margin: 20px auto;
    border: 1px solid black;
}

.product-card {
    width: calc(25% - 32px); 
    border: 1px solid blue;
    text-align: center;
    font-family: cursive;
    margin: 15px;
}

.product-thumbnail {
    width: 100%;
    height:50px;
    border:2px dotted palevioletred
}

.product-card:hover{
    cursor: pointer;
}
#product-spec-wrapper{
    width:60%;
    margin:0px auto;
    border:2px solid black;
    height:7 00px;
    text-align: center;
    padding:20px;
    justify-content: space-around;
}
#product-spec-image{
    width:70%;
    height:250px;
    
}
#small-images-wrapper{
    width:70%;
    display:flex;
    height:125px;
    border:3px solid black;
    margin:10px auto;
}
.small-image-wrapper{
    width:25%;
    border:2px solid palevioletred;
    height:100px;
    margin:10px;
}
.small-image-thumbnail{
    width:100%;
    height: 100%;
} */








/* 
#product-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap; 
    margin: 20px auto;
    border: 1px solid black;
}

.product-card {
    width: calc(25% - 32px); 
    border: 1px solid blue;
    text-align: center;
    font-family: cursive;
    margin: 15px;
}

.product-thumbnail {
    width: 100%;
    height:50px;
    border:2px dotted palevioletred
}

.product-card:hover{
    cursor: pointer;
}
#product-spec-wrapper{
    width:60%;
    margin:0px auto;
    border:2px solid black;
    height:7 00px;
    text-align: center;
    padding:20px;
    justify-content: space-around;
}
#product-spec-image{
    width:70%;
    height:250px;
    
}
#small-images-wrapper{
    width:70%;
    display:flex;
    height:125px;
    border:3px solid black;
    margin:10px auto;
}
.small-image-wrapper{
    width:25%;
    border:2px solid palevioletred;
    height:100px;
    margin:10px;
}
.small-image-thumbnail{
    width:100%;
    height: 100%;
} */